<div class="md-12 mb-3 row" style="background-color: rgb(255, 255, 255);">

    <div class="botoes col-md-1">
        <span routerLink="/admin/pessoas" type="button">Pessoas</span>
    </div>

    <div class="botoes col-md-1">
        <span routerLink="/admin/carros" type="button">Carros</span>
    </div>

    <div class="botoes col-md-1">
        <span routerLink="/admin/livros" type="livros">Pessoas</span>
    </div>
    
    <span routerLink="/login" type="button" class="button col-md-1 button-sucess">SAIR</span>
</div>


