<form (ngSubmit)="salvar()">
    <div class="mb-3">
        <label for="exampleInputText1" class="form-label">Nome:</label>
        <input type="text" class="form-control" name="exampleInputText1" aria-describedby="emailHelp"
            [(ngModel)]="pessoa.nome">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Idade:</label>
        <input type="number" class="form-control" name="exampleInputPassword1" [(ngModel)]="pessoa.idade">
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>