<form (ngSubmit)="salvar()">
    <div class="mb-3">
        <label for="exampleInputText1" class="form-label">Autor:</label>
        <input type="text" class="form-control" name="exampleInputText1" aria-describedby="emailHelp"
            [(ngModel)]="livro.autor">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Titulo:</label>
        <input type="number" class="form-control" name="exampleInputPassword1" [(ngModel)]="livro.titulo">
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>